* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

/*Header & Navigation*/

header {
  width: 1600px;
  height: 80px;
  display: flex;
  background-color: #ffffff;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  margin: 24px 93px 25px 215px;
  color: #212121;
}

.header-logo-part {
  color: #2196f3;
}

.navigation {
  width: 264px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-right: 331px;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-item:hover,
:focus {
  color: #2196f3;
}

.header-mail {
  margin-top: 32px;
  margin-right: 50px;
  margin-bottom: 32px;
}

.header-tel {
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
:focus,
.header-tel:hover,
:focus {
  color: #2196f3;
}

/*Introduction Section*/

.introduction-section {
  width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f303a;
}

.introduction-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 200px;
}

.button {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*Description section*/

.description {
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-top: 94px;
  margin-left: 215px;
}

.description-list-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
}

.description-list-content {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 75px;
}

/*What do we do section*/

.what-do-we-do {
  width: 1600px;
  align-items: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}

.what-do-we-do-photo {
  width: 1170px;
  margin-left: 215px;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}

/*Our team section*/

.our-team-section {
  width: 1600px;
  height: 648px;
  background-color: #f5f4fa;
}
.our-team {
  margin-top: 188px;
  align-content: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.our-team-photo {
  width: 1170px;
  margin-top: 50px;
  margin-left: 215px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-team-photo-item {
  width: 270px;
  height: 368px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.person-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.person-rank {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Footer*/

footer {
  width: 1600px;
  height: 252px;
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
}

.logo-footer {
  margin: 60px 1240px 0 0;
  margin-left: 215px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-footer-part {
  color: #ffffff;
}

address {
  margin: 20px 1154px 0 0;
  margin-left: 215px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-mail,
.footer-tel {
  margin-top: 9px;
  margin-left: 215px;
  margin-right: 1154px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
:focus,
.footer-tel:hover,
:focus {
  color: #2196f3;
}

/*Portfolio*/
.filter-list {
  margin-top: 94px;
  margin-left: 495px;
  display: flex;
  flex-direction: row;
}
.button-1,
.button-2,
.button-3,
.button-4,
.button-5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.button-1 {
  width: 73px;
  height: 38px;
}
.button-1 {
  width: 73px;
  height: 38px;
}
.button-2 {
  width: 182px;
  height: 38px;
}

.button-3 {
  width: 145px;
  height: 38px;
}

.button-4 {
  width: 103px;
  height: 38px;
}
.button-5 {
  width: 130px;
  height: 38px;
}

.filter-list button:hover {
  background: #2196f3;
  color: #ffffff;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-list button:focus {
  background: #2196f3;
  color: #ffffff;
}

.folio-row1 {
  margin-top: 56px;
  margin-left: 215px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.folio-list-item {
  width: 370px;
  height: 404px;
  text-align: left;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.folio-header {
  margin-top: 20px;
  margin-left: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.folio-description {
  margin-top: 4px;
  margin-left: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.folio-row2 {
  margin-top: 30px;
  margin-left: 215px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.folio-row3 {
  margin-top: 30px;
  margin-left: 215px;
  margin-bottom: 94px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
